.Card {
  height: 20rem;
  width: calc(20% - 4rem);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px -4px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  /* overflow: hidden; */
  /* position: relative; */
  z-index: 0;
}

.Card .upperBody {
  background-color: #f6f6f6;
  flex: 4;
  border-radius: 1rem;
  text-align: center;
  color: #ffffff;
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card .upperBody img {
  width: 90%;
  /* object-fit: contain; */
}

.Card .lowerBody {
  background-color: #ffffff;
  width: 100%;
  font-size: 1.8rem;
  flex: 1;
  text-align: center;
  line-height: 4rem;
  border-radius: 0 0 1rem 1rem;
}

.Card .on_enter {
  height: 20rem;
  width: 20rem;
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Card .on_enter span {
  font-size: 5rem;
  color: #ffffff;
  flex: 3;
}

.Card .on_enter button {
  flex: 1;
}
