.cart {
  flex: 4;
  border-bottom: 2px solid #efefef;
  overflow: auto;
}

.cart ul li {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem 2rem 0.5rem;
}

.cart .empty_cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #a09e9e;
}
