.Card {
  height: 20rem;
  width: calc(20% - 4rem);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  /* overflow: hidden; */
  position: relative;
  z-index: 0;
}

.Card.card_active {
  transform: translateY(-1.5rem);
}

.Card .Notch {
  width: 4rem;
  height: 3rem;
  /* background-color: #1b78d7; */
  align-self: flex-end;
  position: absolute;
  border-radius: 0.5rem;
  top: -0.7rem;
  z-index: -1;
}

.Card .upperBody {
  /* background-color: #208bff; */
  flex: 4;
  border-radius: 1rem;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Card .upperBody .brandName {
  font-size: 3rem;
  font-weight: 400;
}
.Card .upperBody .articles {
  font-size: 2rem;
  font-weight: 400;
}

.Card .lowerBody {
  background-color: #ffffff;
  width: 100%;
  font-size: 1.8rem;
  flex: 1;
  text-align: center;
  line-height: 4rem;
  border-radius: 0 0 1rem 1rem;
}
